
/* Main game styling (scoreboard) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    background-color: white ;
    font-family: sans-serif;
}

.score {
    color: black;
    display:flex;
    height:20vh;
    justify-content: space-around;
    align-items: center;
}

.score h2 {
    font-size: 35px;

}

.score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}



/* Intro Screen */

.intro {
    color: black;;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease 0.5s;
    
}

img {
    border-spacing:500px ;
}

.intro h1 {
    font-size: 50px;
}

.intro button, .match button {
    width: 150px;
    height: 50px;
    background: none;
    border: none;   
    color: white;
    font-size: 20px;
    background-color: rgb(45, 117, 96);
    border-radius: 20px;
    cursor: pointer;
   
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.winner {
    color: black;
    text-align: center;
}

.hands, .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 5px;
}

.player-hand {
    transform: rotateY(180deg)
}


div.fadeOut {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.7s ;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
    
}

@keyframes shakePlayer {
    0% {
      transform: rotateY(180deg) translateY(0px);
    }
    15% {
      transform: rotateY(180deg) translateY(-50px);
    }
    25% {
      transform: rotateY(180deg) translateY(0px);
    }
    35% {
      transform: rotateY(180deg) translateY(-50px);
   }
}